p
{
	color:#FFFFFF;
	font-size:14pt;
	font-weight:200;
	font-family:"Montserrat", sans-serif;
}

.boton{
	background:black;
	color:white;
	font-weight:bold;
	font-size:16pt;
	width:150px;
	border-radius:15px;
	border-color:white;
	font-family:"Gill Sans Extrabold", sans-serif;
}

.campo{
	background:white;
	color:black;
	font-size:16pt;
	font-weight:normal;
	border-radius:10px;
	text-align:left;
	font-family:"Rosario", sans-serif

}